<!-- Navigation -->
{{ if or (eq .Params.navstyle "invert") (eq .Params.headerstyle "text")  }}
<nav class="navbar navbar-expand-lg navbar-dark invert bg-secondary">
{{ else }}
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
{{ end }}
    <!-- Brand and toggle get grouped for better mobile display -->
    <a class="navbar-brand" href="{{ "/" | relLangURL }}">{{ .Site.Title }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <!-- Known Issue, found by Hux:
        <nav>'s height woule be hold on by its content.
        so, when navbar scale out, the <nav> will cover tags.
        also mask any touch event of tags, unfortunately.
    -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav mr-auto"> <!-- navbar-right -->
            {{ if not .Site.Params.omit_categories }}
                {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
                <li class="nav-item">
                    <a class="nav-link" href="{{ "categories/" | relLangURL }}{{ $name | urlize }}/">{{ $name }}</a>
                </li>
                {{ end }}
            {{ end }}

            {{ range .Site.Params.additional_menus }}
                <li class="nav-item"><a class="nav-link"
				  href="{{.href | relLangURL}}/">{{.title}}</a></li>
            {{ end }}
                <!--
                <li class="nav-item">
                  <a class="nav-link" href="{{ "search" | relURL }}"><i class="fa fa-search"></i></a>
                </li>
                -->
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>
